<h2 class="text-center">Crear cuenta</h2>
<form 
    class="mt-3"
    autocomplete="off"
    [formGroup]="miFormulario"
    (ngSubmit)="register()">
    <div class="form-group">
        <div>
            <label 
                for="name" 
                class="form-label">
                Nombre
            </label>
            <input 
                type="text" 
                class="form-control mt-3"
                formControlName="name"
                [ngClass]=" miFormulario.get('name')!.touched
                && miFormulario.get('name')!.errors
                ? 'is-invalid'
                : '' || miFormulario.get('name')!.touched
                        && miFormulario.get('name')!.valid
                        ? 'is-valid'
                        : ''
                "
                placeholder="Introduzca su nombre">
            <div 
                class="invalid-feedback">
                {{miFormulario.get('name')?.hasError('required') ? "Se requiere un nombre" :''}}
            </div> 
        </div>
        <div>
            <label 
                for="email" 
                class="form-label mt-4">
                Email
            </label>
            <input 
                type="email" 
                class="form-control mt-3"
                formControlName="email"
                [ngClass]=" miFormulario.get('email')!.touched 
                            && miFormulario.get('email')!.errors 
                            ? 'is-invalid' 
                            : '' || miFormulario.get('email')!.touched 
                                    && miFormulario.get('email')!.valid 
                                    ? 'is-valid'
                                    :''
                          "
                placeholder="Introduzca su email">
            <div 
                class="invalid-feedback">
                <p>{{miFormulario.get('email')?.hasError('required') ? "Se requiere un email" :''}}</p>
                <p>{{miFormulario.get('email')?.hasError('email') ? "El email no tiene el formato correcto" :''}}</p>
            </div>
        </div>
        <div>
            <label 
                for="password" 
                class="form-label mt-4">
                Contraseña
            </label>
            <input 
                type="password" 
                class="form-control mt-3"
                formControlName="password"
                [ngClass]=" miFormulario.get('password')!.touched 
                            && miFormulario.get('password')!.errors 
                            ? 'is-invalid' 
                            : '' || miFormulario.get('password')!.touched 
                                    && !miFormulario.get('password')!.invalid 
                                    ? 'is-valid'
                                    :''
                          "
                placeholder="Introduzca su contrasaeña">
            <div 
                class="invalid-feedback">
                <p>{{miFormulario.get('password')?.hasError('required') ? "Se requiere contraseña" :''}}</p>
                <p>{{miFormulario.get('password')?.hasError('minlength') ? "La contraseña debe tener al menos 6 carácteres" :''}}</p>
                <p>{{miFormulario.get('password')?.hasError('maxlength') ? "La contraseña debe tener como máximo 10 carácteres" :''}}</p>
                <p>{{miFormulario.get('password')?.hasError('pattern') ? "La contraseña debe incluir un símbolo" :''}}</p>
                
            </div> 
        </div>

        <div>
            <label 
                for="passwordCheck" 
                class="form-label mt-4">
                Confirmar Contraseña
            </label>
            <input 
                type="password" 
                class="form-control mt-3"
                formControlName="passwordCheck"
                [ngClass]=" miFormulario.get('passwordCheck')!.touched 
                            && miFormulario.get('passwordCheck')!.errors 
                            ? 'is-invalid' 
                            : '' || miFormulario.get('passwordCheck')!.touched 
                                    && !miFormulario.get('passwordCheck')!.invalid 
                                    ? 'is-valid'
                                    :''
                          "
                placeholder="Confirme la contraseña">
            <div 
                class="invalid-feedback">
                <p>{{miFormulario.get('passwordCheck')?.hasError('required') ? "Se requiere contraseña" :''}}</p>
                <p>{{miFormulario.get('passwordCheck')?.hasError('noIguales') ? "Las contraseñas deben coincidir" :''}}</p>
            </div> 
        </div>        
        
        <div>
            <label 
                for="exampleFormControlSelect1" 
                class="form-label mt-4">
                Tipo de organización
            </label>
            
            <select 
                class="form-select mt-3" 
                id="exampleFormControlSelect1"
                formControlName="organizationType">
                <option 
                value="" [disabled]="true" [selected]="true">
                    Seleccione un tipo
                </option>
                <option
                    *ngFor="let type of organizationTypes" 
                    [ngValue]="type">
                    {{ type }}
                </option>
            </select>
        </div>

        <div class="d-flex justify-content-between mt-5">
            <a routerLink="/auth/login" class="mt-4">Login</a>
            <button 
                type="submit" 
                class="btn btn-primary mt-3 "
                [disabled]="miFormulario.invalid">
                Registrar
            </button>
        </div>
    </div>
</form>